html, body {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  user-select: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
  border: 0;
} 
button:hover {
  outline: none;
  border: 0;
}
button:active {
  outline: none;
  border: 0;
}
div {
  scrollbar-arrow-color: #fff;
  /*三角箭头的颜色*/
  scrollbar-face-color: #f4ae21;
  /*立体滚动条的颜色*/
  scrollbar-track-color: #fff;
  /*立体滚动条背景颜色*/
  scrollbar-3dlight-color: #f4ae21;
  /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #f4ae21;
  /*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #f4ae21;
  /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #f4ae21;
  /*立体滚动条强阴影的颜色*/
  scrollbar-base-color:#f4ae21;
  /*滚动条的基本颜色*/
}
.iScrollVerticalScrollbar {
  position: absolute;
  width: 9px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 9px;
}

.iScrollVerticalScrollbar .iScrollIndicator {
  position: absolute;
  width: 9px;
  height: 20px;
  border-radius: 9px;
  background: rgb(255, 193, 7);
}