<template>
  <div class="main" @click="pageClick">
    <div class="main-content">
      <div class="goods-box">
        <div class="goods">
          <div class="goods-lists" ref="wrapper">
            <div ref="content">
              <ul>
                <li class="goods-list active" v-for="(goodsList, index) in goodsLists" :key="index">
                  <span class="image"><img :src="goodsList.proPath" alt=""></span>
                  <span class="name" v-text="goodsList.proName"></span>
                  <span class="each">￥{{goodsList.price.toFixed(2)}}</span>
                  <span class="quantity"><span class="quantity-font">x</span>{{goodsList.count}}</span>
                  <span class="price">￥{{(goodsList.price*goodsList.count).toFixed(2)}}</span>
                  <span class="status" v-show="goodsList.isBuy"></span>
                </li>
              </ul>
              <ul>
                <li class="goods-list active goods-list-div" v-for="(goodsList, index) in goodsCodeLists" :key="index">
                  <span class="image"><img :src="goodsList.proPath" alt=""></span>
                  <span class="name" v-text="goodsList.proName"></span>
                  <span class="each">￥{{goodsList.price.toFixed(2)}}</span>
                  <span class="quantity">
                    <span class="count-btn reduce" @click="decreaseCart(goodsList)"></span>
                    <span class="count">{{goodsList.count}}</span>
                    <span class="count-btn add" @click="addCart(goodsList)"></span>
                  </span>
                  <span class="price">￥{{(goodsList.price*goodsList.count).toFixed(2)}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="goods-lists-gwd">
            <div class="goods-list active goods-list-div">
              <span class="image"><img src="~@/assets/images/bag_icon.png" alt=""></span>
              <span class="name">{{bagData.proName}}</span>
              <span class="each">￥{{bagData.price.toFixed(2)}}</span>
              <span class="quantity">
                <span class="count-btn reduce" @click="decreaseBag"></span>
                <span class="count">{{bagData.count}}</span>
                <span class="count-btn add" @click="addBag"></span>
              </span>
              <span class="price">￥{{(bagData.price*bagData.count).toFixed(2)}}</span>
            </div>
          </div>
        </div>
        <div class="goods-total">
          <div class="total">
            商品件数：<span>{{allQuantity}}</span> 件
          </div>
          <div class="total">
            总价：<span><i>￥</i>{{allPrice.toFixed(2)}}</span>
          </div>
        </div>
      </div>
      <div class="btns">
        <div class="zt-btn cancle-btn"
          @click.stop="cancleOrder"
          @mousedown="cancleBtnDown"
          @mouseup="cancleBtnUp"
          :class="cancleBtnClass"
        >不想买了</div>
        <div class="zt-btn cancle-btn" 
          @click.stop="goResult"
          @mousedown="sureBtnDown"
          @mouseup="sureBtnUp"
          :class="sureBtnClass"
        >
          确认支付
        </div>
      </div>
    </div>
    <div class="main-bottom">
      <h4 class="bottom-tips">*请在180秒内确认商品选购，谢谢！</h4>
      <h5 class="bottom-times">倒计时：<span><i>{{count}}</i>s</span></h5>
    </div>
    <Loading v-show="loading" :title="title"></Loading>
  </div>
</template>

<script>
import $ from 'jquery'
import IScroll from 'IScroll'
import Loading from '@/components/loading.vue'
import Vue from 'vue'
import { mapState  } from 'vuex'
export default {
  name: 'goods',
  data () {
    return {
      count: 180,
      sureBtnActive: false,
      cancleBtnActive: false,
      iscroll: null,
      initscroll: false,
      title: '正在下单中...',
      loading: false,
      bagData: {
        price: 1,
        count: 0,
        Ivcode: '8888888888888',
        isBuy: 0,
        proName: '购物袋'
      }
    }
  },
  computed: {
    ...mapState([
      'allQuantity',
      'allPrice',
      'goodsLists',
      'equipmentID',
      'goodsCodeLists',
      'goodsBags',
      'rfid'
    ]),
    activeClass () {
      return {
        'active': false
      }
    },
    sureBtnClass () {
      return {
        'active': this.sureBtnActive,
        'sure-btn': this.allPrice
      }
    },
    cancleBtnClass () {
      return {
        'active': this.cancleBtnActive
      }
    },
    allLength () {
      return parseInt(this.goodsLists.length) + parseInt(this.goodsCodeLists.length)
    }
  },
  watch: {
    allLength: {
      handler (val, oldval) {
        if (this.allLength <= 4  && this.initscroll === true) {
          this.$nextTick(() => {
            this.iscroll.destroy();
            this.iscroll = null;
            this.initscroll = false;
          })
        } else if (this.allLength > 4 && this.initscroll === true) {
          this.$nextTick(() => {
            this.iscroll.refresh();
          })
        } else if (this.allLength > 4 && this.initscroll === false) {
           this.$nextTick(() => {
             setTimeout(()=> {
              this.iscroll = new IScroll(this.$refs.wrapper, {
                disableMouse: false,
                disablePointer: true,
                disableTouch: true,
                bounce: false,
                interactiveScrollbars: true,
                scrollbars: 'custom'
              });
              this.initscroll = true;
            },200)
          })
        }
      }
    },
    iscroll: {
      handler: function () {
        if (this.iscroll) {
          let that = this;
          this.iscroll.on('scrollEnd', function() {
            let boxHeight = that.$refs.wrapper.clientHeight;
            let contentHeight = that.$refs.content.clientHeight;
            let doltaHeight = boxHeight - contentHeight;
            if (this.y == doltaHeight) {
              that.iscroll.refresh();
              // document.body.addEventListener('click', function (e) {
              //   that.iscroll.refresh();
              // }, false)
            } 
          })
        }
      },
      deep: true
    }
  },
  created () {},
  mounted () {
    this.$nextTick(() => {
      if (this.allLength > 4 ) {
        this.initScroll();
      }
      this.lastTime();
    })
  },
  methods: {
    initScroll () {
      if (!this.iscroll) {
        setTimeout(()=> {
          this.iscroll = new IScroll(this.$refs.wrapper, {
            disableMouse: false,
            disablePointer: true,
            disableTouch: true,
            bounce: false,
            interactiveScrollbars: true,
            scrollbars: 'custom'
          });
          this.initscroll = true;
        },200)
      } else {
        this.iscroll.refresh();
      }
    },
    cancleOrder () {
      this.$router.push('/');
      this.$store.state.rfid = "";
      this.$store.state.isOrder = false;
    },
    goResult () {
      if (parseFloat(this.allPrice) > 0) {
        let codeList = this.goodsCodeLists.concat(this.goodsBags);
        this.$store.state.title = '提交订单中...'
        this.$store.state.isShowLoading = true;
         this.axios.post('/settlement/CreateOrder.do', {
            equipmentName: this.equipmentID,
            rfid: this.rfid,
            codeList: JSON.stringify(codeList)
          }).then((response) => {
            var result_data = response.data;
            this.$store.state.isShowLoading = false;
            if (parseInt(result_data.status) === 1) {
              this.$store.commit({
                type: 'goPayment',
                orderData: result_data
              });
            } else {
              this.$message({
                message: result_data.msg,
                duration: 1500,
                type: 'error'
              });
            }
          }).catch((error)=> {
            this.$store.state.isShowLoading = false;
            this.$message({
              message: error.message,
              duration: 1500,
              type: 'error'
            });
          });
      } else {
        this.$message({
          message: '请您扫描未支付的有效商品',
          type: 'warning',
          duration: 1500
        });
      }
    },
    lastTime () {
      clearInterval(this.$store.state.timer);//清除定时器
      this.$store.state.timer = setInterval(() => {
        this.count--;
        if (this.count <= 0) {
          this.cancleOrder();
        }
      },1000)
    },
    pageClick () {
      //点击页面倒计时重置
      clearInterval(this.$store.state.timer);//清除定时器
      this.count = 180;
      this.lastTime();
    },
    addCart (goods) {
      goods.count++;
      this.$store.dispatch({
        type: 'clickLocal',
        data: goods
      });
    },
    decreaseCart (goods) {
      goods.count--;
      this.$store.dispatch({
        type: 'clickLocal',
        data: goods
      });
    },
    decreaseBag () {
      this.bagData.count--;
      if (this.bagData.count < 1) {
        this.bagData.count = 0;
        sessionStorage.removeItem('bag');
      }
      sessionStorage.setItem('bag', JSON.stringify(this.bagData))
      this.$store.commit('computedGoods')
    },
    addBag () {
      this.bagData.count++;
      sessionStorage.setItem('bag', JSON.stringify(this.bagData))
      this.$store.commit('computedGoods')
    },
    sureBtnDown () {
      this.sureBtnActive = true;
    },
    sureBtnUp () {
      this.sureBtnActive = false;
    },
    cancleBtnDown () {
      this.cancleBtnActive = true;
    },
    cancleBtnUp () {
      this.cancleBtnActive = false;
    }
  },
  components: {
    Loading
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.main {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -540px;
  top: 0;
  z-index: 2;
  .main-content {
    padding: 60px 62px;
    width: 1080px;
    height: 1650px;
    background-color: #191b26;
    box-sizing: border-box;
    .goods-box {
      width: 955px;
      .goods {
        width: 955px;
        height: 1008px;
        position: relative;
        .goods-lists {
          width: 955px;
          height: 802px;
          overflow: hidden;
          position: relative;
          padding-right: 15px;          
        }
        .goods-lists-gwd {
          margin-top: 22px;
          width: 955px;
          height: 184px;
          overflow: hidden;
          position: relative;
          padding-right: 15px;          
        }
        .goods-list {
          width: 940px;
          height: 184px;
          background-color: #fff;
          padding: 25px 20px;
          color: #303030;
          font-size: 30px;
          border-radius: 10px;
          margin-bottom: 22px;
          transform: translateX(1010px);
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
          position: relative;
          &.goods-list-div:last-child {
            margin-bottom: 0;
          }
          &.active {
            transform: translateX(0);
          }
          .image {
            height: 134px;
            width: 134px;
            float: left;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .name {
            width: 276px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: left;
            padding: 0 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .each {
            width: 130px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: center;
          }
          .quantity {
            width: 160px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: center;
            margin: 0 20px;
            overflow: hidden;
            .quantity-font {
              font-size: 24px;
            }
            .count-btn {
              float: left;
              width: 40px;
              height: 134px;
              background-size: 40px 40px;
              background-repeat: no-repeat;
              background-position: center center;
              &.reduce {
                  background-image: url('~@/assets/images/reduce_icon.png')
              }
              &.add {
                background-image: url('~@/assets/images/add_icon.png')
              }
            }
            .count {
              float: left;
              margin: 0 5px;
              width: 70px;
              height: 134px;
              line-height: 134px;
            }
          }
          .price {
            width: 160px;
            height: 134px;
            line-height: 134px;
            float: left;
            text-align: center;
          }
          .status {
            width: 125px;
            height: 126px;
            background-image: url('~@/assets/images/pay_complete.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      .goods-total {
        margin-top: 80px;
        height: 60px;
        .total {
          display: inline-block;
          font-weight: 700;
          color: #fff;
          height: 60px;
          line-height: 60px;
          font-size: 30px;
          margin-right: 160px;
          span {
            color: #ffb619;
            font-size: 48px;
            i {
              font-size: 30px;
              font-style: normal;
            }
          }
        }
      }
    }
    .btns {
      width: 860px;
      margin: 198px auto 0;
      height: 90px;
      .zt-btn {
        width: 340px;
        height: 90px;
        font-size: 32px;
        line-height: 86px;
        text-align: center;
        float: left;
        margin: 0 45px;
        display: block;
        transition: all 0.5s;
        &.cancle-btn {
          border: 2px solid #cecece;
          color: #cecece;
        }
        &.sure-btn {
          border: 2px solid #ffb619;
          color: #000;
          background-color: #ffb619;
          font-weight: 700;
        }
        &.active {
          transform: scale(0.8);
        }
      }
    }
  }
  .main-bottom {
    height: 270px;
    background-color: #20222f;
    padding: 80px 0;
    .bottom-tips {
      height: 30px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
    }
    .bottom-times {
      height: 60px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-bottom: 0;
      span {
        font-weight: 700;
        font-size: 30px;
        i {
          font-style: normal;
          font-size: 50px;
          margin-right: 3px;
        }
      }
    }
  }

}
</style>
