<template>
  <div class="loading">
    <div class="loading-height">
      <img width="32px" height="32px" src="~@/assets/images/loading.gif">
      <p class="desc">{{title}}</p>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      title: {
        type: String,
        default: '正在载入...'
      }
    }
  }
</script>
<style scoped lang="scss">
  .loading {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    .loading-height {
      width: 100%;
      height: 80px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -40px;
      .desc {
        line-height: 40px;
        font-size: 20px;
        color: #fff;
        letter-spacing: 5px;
      }
    }
    
  }
</style>