<template>
 <div class="noFind">
   {{msg}}
 </div>
</template>

<script>
export default {
  name: 'noFind',
  data () {
    return {
      msg: '页面404'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
