<template>
  <div class="result" @click="pageClick">
    <div class="result-content">
      <h3 class="order-number">*当前交易订单号：{{orderResult.orderNum}}</h3>
      <div class="order-result">
        <ul class="result-total">
          <li class="all-quantity">
            <span>您总共购买商品</span>
            <span>{{allQuantity}}</span>
            <span>件</span>
          </li>
          <li class="all-price">
            <span>您总共需要支付</span>
            <span>{{allPrice.toFixed(2)}}</span>
            <span>元</span>
          </li>
        </ul>
        <div class="result-tips">
          <span class="tips-txt">请在右侧刷手支付</span>
          <i class="tips-icon">
            <img src="~@/assets/images/jiantou.gif" alt="">
          </i>
        </div>
        <div class="handpay-tips">
          <i></i><span>{{statusInfo.handTxt}}</span>
        </div>
      </div>
      <div class="pay-type">
        <div class="type">
          <div class="type-code code-zfb">
            <span class="loading"  v-show="isLoadingZ">
              <img src="~@/assets/images/loading.gif" alt="" >
            </span>
            <img :src="result_zfb" alt="" v-show="!isLoadingZ">
          </div>
          <div class="type-tips tips-zfb">
            <i></i>
            <span>支付宝支付</span>
          </div>
        </div>
        <div class="type">
          <div class="type-code code-wx">
            <span class="loading" v-show="isLoadingW">
              <img src="~@/assets/images/loading.gif" alt="" >
            </span>
            <img :src="result_wx" alt="" v-show="!isLoadingW">
          </div>
          <div class="type-tips tips-wx">
            <i></i>
            <span>微信支付</span>
          </div>
        </div>
      </div>
      <div class="back-btn" @click="resultBack">返回首页</div>
    </div>
    <div class="result-bottom">
      <h4 class="bottom-tips">*请在120秒内确认支付，谢谢！</h4>
      <h5 class="bottom-times">倒计时：<span><i>{{count}}</i>s</span></h5>
    </div>
    <Loading v-show="loading" :title="title"></Loading>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loading from '@/components/loading.vue'
export default {
  name: 'result',
  data () {
    return {
      result_zfb: '',
      result_wx: '',
      count: 120,
      isLoadingZ: true,
      isLoadingW: true,
      title: '手掌正在支付...',
      loading: false
    }
  },
  computed: {
    ...mapState([
      'allQuantity',
      'allPrice',
      'statusInfo',
      'orderData',
      'equipmentID',
    ]),
    orderResult () {
      return this.orderData.data
    },
    orderRfid () {
      return this.orderData.rfid
    }
  },
  created () {
    this.$store.state.handPay = this.handPay;
    var orderNum = this.orderResult.orderNum;
    var sum = parseInt(Math.round(this.orderResult.sum * 100));
    var sum_zfb = this.orderResult.sum;
    this.wxPOST(orderNum, sum);
    setTimeout(() => {
      this.zfbPOST(orderNum, sum_zfb);
    }, 500)
    // window.external.stopAudio()
    window.external.playAudio('confirm')
  },
  mounted () {
    this.checkOrder();
    this.lastTime();
  },
  methods: {
    checkOrder () {
      let orderId = this.orderResult.id;
      clearInterval(this.$store.state.payTimer);
      this.$store.state.payTimer = setInterval(() => {
         this.axios.post('/renovate/Jump.do', {
          orderId: orderId
        }).then((response)=> {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1 ) {
            clearInterval(this.$store.state.payTimer);
            this.$store.commit('cancleSoft');
            this.pushRfid();
            this.$router.push('/success');
          }
        }).catch((error)=> {
          /*
          this.$message({
            message: error.message,
            duration: 1500,
            type: 'error'
          });
          */
        });
      }, 2000)
    },
    canclePayment () {
      this.$store.state.reTime = 0;
      this.$store.state.rfid = "";
      this.$store.state.isOrder = false;
      clearInterval(this.$store.state.payTimer);
      this.$store.commit('cancleSoft');
      this.$router.push('/');
    },
    handPay (userId, orderId) {
      this.$store.state.title = '正在支付中...';
      this.$store.state.isShowLoading = true;
      this.axios.post('/handPay/PayOrder.do', {
        userId: userId,
        orderId: orderId
      }).then((response)=> {
        var result_data = response.data;
        this.$store.state.isShowLoading = false;
        if (parseInt(result_data.status) === 1 ) {
          //支付成功
          
        } else {
          //支付失败
          clearInterval(this.$store.state.payTimer);
          this.$store.state.message = result_data.msg;
          this.$router.push('/fail');
        }
      }).catch((error)=> {
        this.$store.state.isShowLoading = false;
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
      });
    },
    wxPOST (orderNum, sum) {
      this.axios.post('/wxCode/unifiedorder.do', {
        out_trade_no: orderNum,
        total_fee: sum,
        body: '掌购'
      }).then((response)=> {
        var result_data = response.data;
        this.result_wx = '/create/WeixinQrcode.do?code_url='+result_data
        setTimeout(() => {
          this.isLoadingW = false;
        },200)
      }).catch((error)=> {
        /*
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
        */
      });
    },
    zfbPOST (orderNum, sum) {
      this.axios.post('/alipaytool/preorder.do', {
        out_trade_no: orderNum,
        total_fee: sum,
        body: '掌购'
      }).then((response)=> {
        var result_data = response.data;
        this.result_zfb = '/alipay/ZfbQrcode.do?code_url='+result_data
        setTimeout(() => {
          this.isLoadingZ = false;
        },200)
      }).catch((error)=> {
        /*
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
        */
      });
    },
    lastTime () {
      clearInterval(this.$store.state.timer); //清除定时器
      this.$store.state.timer = setInterval(() => {
        this.count--;
        if (this.count <= 0) {
          this.canclePayment();
        }
      },1000)
    },
    pushRfid () {
      if (this.orderRfid.length > 0) {
        let rfid = this.orderRfid.join(',');
        this.axios.post(rfidUrl, {
          rfid: rfid
        }).then((response) => {
          let result_data = response.data;
        }).catch((error)=> {
          /*
          this.$message({
            message: error.message,
            duration: 1500,
            type: 'error'
          });
          */
        });
      }
    },
    pageClick () {
      //点击页面倒计时重置
      clearInterval(this.$store.state.timer);//清除定时器
      this.count = 120;
      this.lastTime();
    },
    resultBack () {
      this.canclePayment();
    },
  },
  components: {
    Loading
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.result {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -540px;
  top: 0;
  z-index: 4;
  .result-content {
    padding: 60px 70px;
    height: 1650px;
    background-color: #191b26;
    .order-number {
      height: 30px;
      line-height: 30px;
      color: #fff;
      margin-bottom: 280px;
    }
    .order-result {
      height: 590px;
      background: #fff;
      border-radius: 10px;
      padding: 50px;
      .result-total {
        width: 840px;
        li {
          height: 109px;
          border-bottom: 1px solid #d2d2d2;
          color: #333;
          font-size: 32px;
          margin-bottom: 50px;
          span:nth-child(1) {
            height: 108px;
            line-height: 108px;
            width: 240px;
            float: left;
          }
          span:nth-child(2) {
            height: 108px;
            line-height: 108px;
            width: 550px;
            float: left;
            font-size: 60px;
            color: #fdb533;
            text-align: right;
            padding-right: 30px;
          }
          span:nth-child(3) {
            height: 108px;
            line-height: 108px;
            width: 50px;
            float: left;
          }
          &.all-quantity {}
          &.all-price {}
        }
      }
      .result-tips {
        height: 111px;
        .tips-txt {
          width: 779px;
          height: 50px;
          line-height: 50px;
          font-size: 46px;
          color: #333;
          float: left;
          text-align: right;
          margin-top: 61px;
          padding-right: 10px;
        }
        .tips-icon {
          width: 61px;
          height: 36px;
          float: left;
          margin-top: 72px;
        }
      }
      .handpay-tips {
        margin-top: 34px;
        height: 40px;
        padding-left: 398px;
        i {
          float: left;
          display: block;
          width: 40px;
          height: 40px;
          background-image: url('~@/assets/images/hand_tips.png');
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: center center;
          margin-right: 10px;
        }
        span {
          width: 350px;
          float: left;
          display: block;
          height: 40px;
          line-height: 38px;
          color: #fc3f3b;
          font-size: 30px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
    }
    .pay-type {
      margin: 90px auto 0;
      height: 344px;
      width: 748px;
      .type {
        width: 274px;
        height: 344px;
        margin: 0 50px;
        float: left;
        padding: 22px 15px 6px;
        background-color: #fff;
        .type-code {
          width: 244px;
          height: 244px;
          background-color: #f3f3f3;
          position: relative;
          & > img {
            display: block;
            width: 244px;
            height: 244px;
          }
          .loading {
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -16px;
            margin-left: -16px;
            img {
              width: 32px;
              height: 32px;
            }
          }
        }
        .type-tips {
          height: 72px;
          padding: 18px 0;
          i {
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
          }
          span {
            height: 36px;
            line-height: 36px;
            float: left;
            font-size: 26px;
            font-weight: 700;
          }
          &.tips-zfb {
            i {
              width: 36px;
              height: 36px;
              margin: 0 22px 0 30px;
              background-image: url(~@/assets/images/zfb.png)
            }
          }
          &.tips-wx {
            i {
              width: 40px;
              height: 34px;
              margin: 1px 22px 1px 34px;
              background-image: url(~@/assets/images/wenxin.png)
            }
          }
        }
      }
    }
    .back-btn {
      width: 340px;
      height: 90px;
      font-size: 32px;
      line-height: 86px;
      text-align: center;
      margin: 90px auto 0;
      display: block;
      border: 2px solid #cecece;
      color: #cecece;
    }
  }
  .result-bottom {
    height: 270px;
    background-color: #20222f;
    padding: 80px 0;
    .bottom-tips {
      height: 30px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
    }
    .bottom-times {
      height: 60px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-bottom: 0;
      span {
        font-weight: 700;
        font-size: 30px;
        i {
          font-style: normal;
          font-size: 50px;
          margin-right: 3px;
        }
      }
    }
  }
}
</style>
