<template>
  <div class="soft">
    <object id="captureActiveX" classid="clsid:6ee10383-aa59-41d7-853f-adf8baaa657f" width="0" height="0" margin="0"></object>
  </div>
</template>

<script>
export default {
  name: 'soft',
  data () {
    return {}
  },
  mounted () {
      //初始化控件
      var that = this;
      window.external.begainReadEpc(1);
      const activexObj = document.getElementById("captureActiveX");
      activexObj.initLibraryWithMode(1);
      activexObj.SetWindow(window);
      activexObj.showPalmActiveX(false);
      that.$store.state.activexObj = activexObj;
      //rifd获取
      window.SendEPCStr = function(value) {
        if (!that.$store.state.isOrder) {
          that.$store.dispatch({
            type: 'sendRFID',
            rfid: value
          })
        }
      };
      window.QRCodeCallBack = function(value){
        if (!that.$store.state.isOrder) {
          that.$store.dispatch({
            type: 'sendQRCode',
            code: value
          })
        }
      };
      window.reportError = function (value) {
        that.$notify.error({
          title: '掌静脉错误提示',
          message: value
        });
      };
      //掌静脉验证
      window.capturePalmData = function (value) {
        that.$store.commit({
          type: 'capturePalmData',
          verifyData: value
        })
      }
      //注册状态和提示文字（中间通用|分割）
      window.enrollStatus = function (value) {
        var result = value.split('|');
        var statusInfo = {
          index: parseInt(result[0]),
          handTxt: result[1]
        }
        that.$store.commit({
          type: 'registStatus',
          statusInfo: JSON.stringify(statusInfo)
        })
      }
  },
  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.soft {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: -9999;
}
</style>