<template>
 <div class="status">
   <div class="status-image">
     <div class="image-box">
       <img src="~@/assets/images/success_icon.png" alt="">
     </div>
     <p class="image-txt"><span>支付成功！</span></p>
   </div>
   <div class="status-txt">
     <h2 class="txt">感谢您使用掌购，欢迎您再次光临！</h2>
     <p class="tips">*您可以在APP中查看购物清单，如需开发票，请联系店内工作人员</p>
     <div class="line"></div>
   </div>
   <div class="status-btns">
      <div class="zt-btn sure-btn" 
        @click.stop="backClick"
      >
        返回首页
      </div>
    </div>
   <div class="status-time">
     <span>{{count}}s</span>后返回首页
   </div>
 </div>
</template>

<script>
export default {
  name: 'success',
  data () {
    return {
      count: 10
    }
  },
  computed: {
    
  },
  created () {
    window.external.playAudio('success')
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    backClick () {
      this.backPage()
    },
    lastTime () {
      clearInterval(this.$store.state.timer);//清除定时器
      this.$store.state.timer = setInterval(() => {
        this.count--;
        if (this.count <= 0) {
          this.backPage()
        }
      },1000)
    },
    backPage () {
      this.$store.state.isOrder = false;
      this.$store.state.rfid = '';
      this.$router.push('/');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.status {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -540px;
  top: 0;
  z-index: 5;
  background-color: #fff;
  .status-image {
    width: 100%;
    height: 270px;
    margin-top: 500px;
    .image-box {
      height: 165px;
      margin: 0 auto;
      text-align: center;
      img {
        margin-right: 30px;
      }
    }
    .image-txt {
      margin-top: 35px;
      text-align: center;
      font-size: 60px;
      color: #0e050a;
      height: 70px;
      line-height: 70px;
      font-weight: 700;
    }
  }
  .status-btns {
    margin-left: 352px;
    margin-top: 312px;
    width: 340px;
    height: 90px;
    .zt-btn {
      width: 340px;
      height: 90px;
      font-size: 32px;
      line-height: 86px;
      text-align: center;
      float: left;
      display: block;
      transition: all 0.5s;
      &.cancle-btn {
        border: 2px solid #cecece;
        color: #cecece;
      }
      &.sure-btn {
        border: 2px solid #ffb619;
        color: #000;
        background-color: #ffb619;
        font-weight: 700;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      }
      &.active {
        transform: scale(0.8);
      }
    }
  }
  .status-txt {
    width: 770px;
    height: 106px;
    position: absolute;
    left: 50%;
    margin-left: -385px;
    bottom: 306px;
    .line {
      width: 738px;
      height: 1px;
      background-color: #0e050a;
    }
    .txt {
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      height: 50px;
      line-height: 50px;
    }
    .tips {
      font-size: 24px;
      font-weight: 700;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
    }
  }
  .status-time {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-weight: 700;
    font-size: 36px;
    color: #0e050a;
    position: absolute;
    left: 0;
    bottom: 113px;
    text-align: center;
    span {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline-block;
      background-color: #0e050a;
      color: #d1942a;
    }
  }
}
</style>
