<template>
  <swiper :options="swiperOption">
    <swiper-slide v-for="(slide, index) in swiperSlides" :key="index">
      <img :src="slide" alt="" @mousedown="dragsImage($event)">
    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
  export default {
    name: 'homeSwiper',
    props: {
      swiperSlides: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {
        swiperOption: {
          effect : 'fade',
          autoplay: {
            delay: 20000,
            disableOnInteraction: false
          },
          pagination: {
            el: '.swiper-pagination'
          }
        }
      }
    },
    mounted() {},
    methods: {
      dragsImage (event) {
        event.preventDefault()
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
