<template>
  <div class="main">
    <div class="main-content">
      <div class="goods-box">
        <div class="goods">
          <div class="goods-lists" ref="wrapper">
              <div ref="content">
                <ul>
                  <li class="goods-list active" v-for="(goodsList, index) in goodsLists" :key="index" :style="{ 'transition-delay': ((goodsLists.length-1-index)/2)+'s' }">
                    <span class="image"><img src="~@/assets/images/8.png" alt=""></span>
                    <span class="name" v-text="goodsList.proName"></span>
                    <span class="quantity"><span class="quantity-font">x</span>{{goodsList.count}}</span>
                    <span class="each">￥{{goodsList.price.toFixed(2)}}</span>
                    <span class="status" v-show="goodsList.isBuy"></span>
                    <span class="cuxiao" v-show="goodsList.isBuy"></span>
                  </li>
                </ul>
                <ul>
                  <li class="goods-list active goods-list-div" v-for="(goodsList, index) in goodsLists" :key="index" :style="{ 'transition-delay': ((goodsLists.length-1-index)/2)+'s' }">
                    <span class="image"><img src="~@/assets/images/8.png" alt=""></span>
                    <span class="name" v-text="goodsList.proName"></span>
                    <span class="quantity">
                      <span class="count-btn reduce"></span>
                      <span class="count">1</span>
                      <span class="count-btn add" @click="add"></span>
                    </span>
                    <span class="each">￥{{goodsList.price.toFixed(2)}}</span>
                    <span class="cuxiao" v-show="goodsList.isBuy"></span>
                  </li>
                </ul>
              </div>
          </div>
         <div class="goods-lists-gwd">
            <div class="goods-list active goods-list-div">
              <span class="image"><img src="~@/assets/images/bag_icon.png" alt=""></span>
              <span class="name">{{bagData.proName}}</span>
              <span class="each">￥{{bagData.price.toFixed(2)}}</span>
              <span class="quantity">
                <span class="count-btn reduce" @click="decreaseBag"></span>
                <span class="count">{{bagData.count}}</span>
                <span class="count-btn add" @click="addBag" style="position:relative;z-index:66"></span>
              </span>
              <span class="price">￥{{(bagData.price*bagData.count).toFixed(2)}}</span>
              <div class="goods-list-bg" v-show="maskbag"></div>
            </div> 
          </div>
        </div>
        <div class="quantity-total">
          <div class="total">
            商品件数：<span class="quantity">{{allQuantity}}</span> 件
          </div>
        </div>
        <div class="goods-total">
          <div class="total total-sp">
            <span class="title">商品小计：</span>
            <span class="price">￥95.50</span>
          </div>
          <div class="total total-yh">
            <span class="title">优惠合计：</span>
            <span class="price discount">￥5.50</span>
          </div>
          <div class="total total-je">
            <span class="title">金额合计：</span>
            <span class="price">￥<i>90.00</i></span>
          </div>
        </div>
      </div>
      <div class="btns">
        <div class="zt-btn cancle-btn" 
          
        >不想买了</div>
        <div class="zt-btn cancle-btn" @click="test2">
          确认支付
        </div>
      </div>
    </div>
    <div class="main-bottom">
      <h4 class="bottom-tips">*请在60秒内确认商品选购，谢谢！</h4>
      <h5 class="bottom-times">倒计时：<span><i>{{count}}</i>s</span></h5>
    </div>
    <button @click="test3">按钮2</button>
  </div>
</template>

<script>
import BScroll from 'better-scroll'
import $ from 'jquery'
import IScroll from 'IScroll'
export default {
  name: 'goods',
  data () {
    return {
      maskbag: true,
      initscroll: false,
      iscroll: null,
      count: 60,
      sureBtnActive: false,
      cancleBtnActive: false,
      goodsLists: [],
      myScroll: null,
      goodsHeight: 0,
      myi: 0,
      i: 0,
      testData: [{
        price: 12,
        count: '2',
        isBuy: true,
        proName: '农夫山泉1'
      },{
         price: 12,
        count: '2',
        isBuy: false,
        proName: '农夫山泉2'
      },{
         price: 12,
        count: '2',
        isBuy: false,
        proName: '农夫山泉3'
      },{
         price: 12,
        count: '2',
        isBuy: false,
        proName: '农夫山泉4'
      },{
         price: 12,
        count: '2',
        isBuy: false,
        proName: '农夫山泉5'
      },{
         price: 12,
        count: '999',
        isBuy: false,
        proName: '农夫山泉6'
      }],
      bagData: {
        price: 0.5,
        count: 0,
        Ivcode: '8888888888888',
        isBuy: 0,
        proName: '购物袋'
      },
    }
  },
  computed: {
    allQuantity () {
      return this.$store.state.allQuantity;
    },
    allPrice () {
      return this.$store.state.allPrice;
    },
    activeClass () {
      return {
        'active': false
      }
    },
    sureBtnClass () {
      return {
        'active': this.sureBtnActive,
        'sure-btn': this.allPrice
      }
    },
    cancleBtnClass () {
      return {
        'active': this.cancleBtnActive,
      }
    }
  },
  watch: {
    goodsLists: {
      handler: function(val,oldval) {
        
        if (this.goodsLists.length > 5 && this.initscroll === true) {
          this.$nextTick(() => {
            this.iscroll.refresh();
          })
        } else if (this.goodsLists.length > 5 && this.initscroll === false) {
           this.$nextTick(() => {
             this.iscroll = new IScroll(this.$refs.wrapper, {
                bounce: false,
                scrollbars: 'custom',
                interactiveScrollbars: true
             });
             this.initscroll = true;
          })
        }
        
      }
    },
    iscroll: {
      handler: function () {
        if (this.iscroll) {
          let that = this;
          this.iscroll.on('scrollEnd', function() {
            let boxHeight = that.$refs.wrapper.clientHeight;
            let contentHeight = that.$refs.content.clientHeight;
            let doltaHeight = boxHeight - contentHeight;
            //console.log(doltaHeight)
            //console.log(this.y)
            //console.log(this.y == doltaHeight)
            // if (this.y == doltaHeight) {
            //   document.body.addEventListener('touchmove', function (e) {
            //     e.preventDefault();
            //   }, false)
            // } 
          })
        }
      },
      deep: true
    },
    "bagData.count": {
      handler (val, oldval) {
        console.log(val)
        if (val > 0) {
          this.maskbag = false;
        } else {
          this.maskbag = true;
        }
      }
    }
  },
  created () {
    this.test1();
    if (this.iscroll) {
      
    }
  },
  mounted () {
    if (this.goodsLists.length > 5) {
      this.$nextTick(() => {
        this.initScroll();
      })
    }
  },
  updated () {
    
  },
  methods: {
    decreaseBag () {
      this.bagData.count--;
      if (this.bagData.count < 1) {
        this.bagData.count = 0;
        sessionStorage.removeItem('bag');
      }
      sessionStorage.setItem('bag', JSON.stringify(this.bagData))
      //this.$store.commit('computedGoods')
    },
    addBag () {
      this.bagData.count++;
      sessionStorage.setItem('bag', JSON.stringify(this.bagData))
      //this.$store.commit('computedGoods')
    },
    clickAdd () {
      alert(666)
    },
    add () {
      console.log('add')
    },
    initScroll () {
      setTimeout(() => {
        if (!this.iscroll) {
          this.iscroll = new IScroll(this.$refs.wrapper, {
            bounce: false,
            scrollbars: true,
            interactiveScrollbars: true,
          });
          this.initscroll = true;
        } else {
          this.iscroll.refresh();
        }
      }, 200)
    },
    test1 () {
      this.goodsLists = this.testData.reverse();
    },
    test2 () {
      this.$store.dispatch({
        type: 'sendQRCode',
        code: '1000000000010'
      })
    },
    test3 () {
      this.$store.dispatch({
        type: 'sendRFID',
        rfid: '1000004070000003,1000004080000002,1000004340000004,1000004370000001,1000004370000002,1000004390000005'
      })
    },
    test () {
      this.$router.push({ path: 'test',query: {t: +new Date()} });
      var i = 0;
      var testTimer = setInterval(()=> {
        if (i > 6) {
          clearInterval(testTimer)
          return;
        }
        this.goodsLists.push(this.testData[i]);
        i++;
      },1000)
    },
    sureBtnDown () {
      this.sureBtnActive = true;
    },
    sureBtnUp () {
      this.sureBtnActive = false;
    },
    cancleBtnDown () {
      this.cancleBtnActive = true;
    },
    cancleBtnUp () {
      this.cancleBtnActive = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.main {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -540px;
  top: 0;
  z-index: 2;
  .main-content {
    padding: 60px 62px;
    width: 1080px;
    height: 1650px;
    background-color: #191b26;
    box-sizing: border-box;
    .goods-box {
      width: 955px;
      .goods {
        width: 955px;
        height: 1008px;
        position: relative;
        overflow: hidden;
        .goods-lists {
          width: 955px;
          height: 802px;
          overflow: hidden;
          position: relative;
          padding-right: 15px;
          box-sizing: border-box;         
        }
        .goods-lists-gwd {
          margin-top: 22px;
          width: 955px;
          height: 184px;
          overflow: hidden;
          position: relative;
          padding-right: 15px;
          box-sizing: border-box;
          .goods-list-bg {
            width:940px;
            height: 184px;
            position:absolute;
            left:0;
            top:0;
            background:rgba(0,0,0,0.5);
            z-index:1;
          }
        }
        .goods-list {
          width: 940px;
          height: 184px;
          background-color: #fff;
          padding: 25px 20px;
          color: #303030;
          font-size: 30px;
          border-radius: 10px;
          margin-bottom: 22px;
          transform: translateX(1010px);
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
          position: relative;
          box-sizing: border-box;
          &.goods-list-div:last-child {
            margin-bottom: 0;
          }
          &.active {
            transform: translateX(0);
          }
          .image {
            height: 134px;
            width: 134px;
            float: left;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .name {
            width: 276px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: left;
            padding: 0 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .each {
            width: 130px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: center;
          }
          .quantity {
            width: 160px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: center;
            margin: 0 20px;
            overflow: hidden;
            .quantity-font {
              font-size: 24px;
            }
            .count-btn {
              float: left;
              width: 40px;
              height: 134px;
              background-size: 40px 40px;
              background-repeat: no-repeat;
              background-position: center center;
              &.reduce {
                  background-image: url('~@/assets/images/reduce_icon.png')
              }
              &.add {
                background-image: url('~@/assets/images/add_icon.png')
              }
            }
            .count {
              float: left;
              margin: 0 5px;
              width: 70px;
              height: 134px;
              line-height: 134px;
            }
          }
          .price {
            width: 160px;
            height: 134px;
            float: left;
            line-height: 134px;
            text-align: center;
          }
          .status {
            width: 125px;
            height: 126px;
            background-image: url('~@/assets/images/pay_complete.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
          }
          .cuxiao {
            width: 75px;
            height: 61px;
            background-image: url('~@/assets/images/cuxiao.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 169px;
          }
        }
      }
      .quantity-total {
        margin-top: 30px;
        height: 60px;
        display: flex;
        .total {
          flex: 1;
          font-weight: 700;
          color: #fff;
          height: 60px;
          line-height: 60px;
          font-size: 34px;
          span.quantity {
            color: #ffb619;
            font-size: 48px;
          }
        }
      }
      .goods-total {
        margin-top: 30px;
        height: 60px;
        display: flex;
        .total {
          display: flex;
          height: 60px;
          span.title {
            display: block;
            font-weight: 700;
            color: #fff;
            font-size: 30px;
            height: 60px;
            line-height: 60px;
          }
          span.price {
            display: block;
            font-size: 28px;
            font-weight: 500;
            color: #ffb619;
            height: 60px;
            line-height: 60px;
            i {
              font-style: normal;
              font-weight: 700;
              font-size: 48px;
            }
          }
          span.discount {
            color: red;
            text-decoration: line-through;
          }
        }
        .total-sp {
          width: 290px;
        }
        .total-yh {
          width: 280px;
        }
        .total-je {
          flex: 1;
          justify-content: flex-end;
          span.price {
            line-height: 50px;
          }
        }
      }
    }
    .btns {
      width: 860px;
      margin: 168px auto 0;
      height: 90px;
      .zt-btn {
        width: 340px;
        height: 90px;
        font-size: 32px;
        line-height: 86px;
        text-align: center;
        float: left;
        margin: 0 45px;
        display: block;
        transition: all 0.5s;
        &.cancle-btn {
          border: 2px solid #cecece;
          color: #cecece;
        }
        &.sure-btn {
          border: 2px solid #ffb619;
          color: #000;
          background-color: #ffb619;
          font-weight: 700;
        }
        &.active {
          transform: scale(0.8);
        }
      }
    }
  }
  .main-bottom {
    height: 270px;
    background-color: #20222f;
    padding: 80px 0;
    .bottom-tips {
      height: 30px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
    }
    .bottom-times {
      height: 60px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-bottom: 0;
      span {
        font-weight: 700;
        font-size: 30px;
        i {
          font-style: normal;
          font-size: 50px;
          margin-right: 3px;
        }
      }
    }
  }

}
</style>
