<template>
  <div id="app">
    <div class="home">
      <div class="home-banners">
        <homeSwiper :swiperSlides="bannerData.images"></homeSwiper>
      </div>
      <div class="home-tips">
        <div class="number">设备编号{{bannerData.equipmentName}}</div>
        <div class="line"></div>
        <div class="content">
          <img src="~@/assets/images/home_icon.png" alt="">
          <span>{{bannerData.description}}</span>
        </div>
      </div>
    </div>
    <Loading v-show="isShowLoading" :title="title"></Loading>
    <soft></soft>
    <router-view></router-view>
  </div>
</template>
<script>
import homeSwiper from '@/components/swiper'
import soft from '@/components/soft'
import Loading from '@/components/loading.vue'

import { mapState  } from 'vuex'
export default {
  name: 'App',
  data () {
    return {
      bannerData: {
        images: [],
        equipmentName: '',
        description: ''
      }
    }
  },
  computed: {
     ...mapState([
      'isShowLoading',
      'title',
      'equipmentID'
    ])
  },
  created () {
    if (this.equipmentID) {
      this.postHomeData(this.equipmentID);
      // this.longContect(this.equipmentID)
    } else {
      this.$message({
        message: '请配置设备ID',
        duration: 1500,
        type: 'warning'
      });
    }
    // window.external.stopAudio()
  },
  mounted () {},
  methods: {
    longContect (equipmentID) {
      var longTimer = setInterval(()=> {
        this.axios.post('/equipment/GeEquipmentStatue.do', {
          equipmentName: equipmentID
        }).then((response)=> {
         
        }).catch((error)=> {
          console.log(error.message)
        });
      },30000)
    },
    postHomeData (name) {
      this.$store.state.title = '正在载入中...'
      this.$store.state.isShowLoading = true;
      this.axios.post('/equipment/GeEquipment.do', {
        name: name
      }).then((response)=> {
        this.$store.state.isShowLoading = false;
        var result_data = response.data;
        if (parseInt(result_data.status) === 1 ) {
          this.bannerData = result_data.data.Equipmentdata
        } else {
          this.$message({
            message: result_data.msg,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.$store.state.isShowLoading = false;
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
      });
    }
  },
  components: {
    homeSwiper,
    soft,
    Loading
  }
}
</script>

<style lang="scss">
#app {
  font-family: "Microsoft YaHei";
  .home {
    width: 1080px;
    height: 1920px;
    position: absolute;
    left: 50%;
    margin-left: -540px;
    top: 0;
    z-index: 1;
    .home-banners {
      width: 100%;
      height: 1920px;
      position: relative;
      .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        border-radius: 10px;
      }
      .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 155px;
      }
      .swiper-pagination-bullet-active {
        background: #fff;
      }
    }
    .home-tips {
      width: 100%;
      height: 125px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .number {
        width: 214px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        font-weight: 700;
        color: #333;
        text-align: center;
      }
      .line {
        width: 2px;
        height: 28px;
        background-color: #333;
      }
      .content {
        flex: 1;
        height: 40px;
        display: flex;
        img {
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 22px 0 30px;
        }
        span {
          display: block;
          flex: 1;
          height: 40px;
          line-height: 40px;
          font-size: 24px;
          color: #333;
          font-weight: 500;
        }
      }
    }
  }

}
</style>
